/* <div class="code">                                      */
/*     <table class="highlighttable">                      */
/*         <tr>                                            */
/*             <td class="linenos">                        */
/*                 <div class="linenodiv">                 */
/*                     <pre> </pre>                        */
/*                 </div>                                  */
/*             </td>                                       */
/*         </tr>                                           */
/*     </table>                                            */
/* </div>                                                  */

/* <div class="code" data-lang="io"> */
/*      <table class="highlighttable"> */
/*        <tbody> */
/*          <tr> */
/*            <td class="linenos"> */
/*              <div class="linenodiv"> */
/*                <pre> */
/* <a href="#adding_destructuring_bind_to_io.html-1">1</a> */
/* <a href="#adding_destructuring_bind_to_io.html-1">2</a> */
/*                </pre> */
/*              </div> */
/*            </td> */
/*            <td class="code"> */
/*              <div class="highlight"> */
/*                <pre> */
/*                  <span></span> */
/*                  <span id="adding_destructuring_bind_to_io.html-1"> */
/*                    <a name="adding_destructuring_bind_to_io.html-1"></a> */
/*                    <span class="n">WebRequest</span> */
/*                    <span class="o">:=</span> */
/*                    <span class="nb">Object</span> */
/*                    <span class="k">clone</span> */
/*                    <span class="k">do</span> */
/*                    <span class="o">(</span> */
/*                </pre> */
/*              </div> */
/*            </td> */
/*          </tr> */
/*        </tbody> */
/*      </table> */
/* </div> */
aside { clear: both; }
aside.bigger-aside > label {
    font-size: 0.6em;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;

}
aside.bigger-aside {
    float: left;
    width: 55%;
    clear: both;
    padding-bottom: 0;
    margin: 0 10px 0 0;
}
aside.bigger-aside div.code {
    margin-bottom: 0.5em;
}
aside.bigger-aside div.code table.highlighttable {
    width: 100%;
}
aside.bigger-aside div.code table.highlighttable td > div > pre {
    font-size: 0.6em;
}

div.code {
    /* font-size: 90%; */
    color: #c7254e;
    /* background-color: #f9f2f4; */
    /* background-color: rgb(37, 37, 37); */
    border-radius: 4px;
    overflow-y: visible;
    overflow-x: visible;
    margin-bottom: 1rem;
}

div.code > label {
    border: solid #ff0 1px;
    text-align: center;
    text-transform: capitalize;
    color: #e6db74;
    background-color: #252525;
    min-width: 4rem;
    position: absolute;
    right: 3rem;
    height: 1.5rem;
    top: -1rem;
}

div.code pre {
    padding: 0.4rem 5px 0.4rem 6px !important;
}

td.code {
}

div.code table.highlighttable {}

div.code td.linenos  {
    width: 10px;
    /* border-right: solid yellow 1px; */
}


div.code td.linenos > div {
    /* display: none; */
    border-right: solid yellow 1px;
}

div.code td.linenos > div.code > pre {
    padding-right: 0.2em;

}

div.code table.highlighttable td > div > pre {
    color: white;
    /* font-size: 10px; */
}
table.highlighttable div.code > pre {
    padding-left: 7px !important;
}

table.highlighttable div.code > pre > span:target {
    background-color: olive !important;
}


div.code table.highlighttable td {
    vertical-align: top;
}




table.highlight *,
table.highlighttable * {
    margin: 0;
    padding: 0;

}
.highlight,
.highlighttable {
    width: 100%;
}


.highlight code, .highlighttable code {
    background-color: #5e5e5e !important;
    border-color: gray;
    color: white;
    padding: 1px !important;
}



aside.little-code {width: 40%;}
aside.little-code .highlight pre,
aside.little-code .highlighttable pre {
    font-size: 9px;
}

aside.little-code .highlight .linenos,
aside.little-code .highlighttable .linenos {
    /* width: 12px; */
}
aside.little-code .highlight,
aside.little-code .highlighttable {
    min-width: 0;
}
aside.little-code div.code table.highlighttable .linenos pre {
    width: 15px;
}



div.highlight,
table.highlighttable {
    color: white;
    overflow-x: auto;
    border-collapse: collapse;
}
